* {
    display: flex;
}

body {
    flex-direction: column;
    display: flex;
    margin: 0;
}

.header {
    background-color: #1F2937;
    width: 100vw;
    min-height: 15rem;
    
}

.random {
    background-color: #1F2937;
    width: 100vw;
    min-height: 20rem;
}

.quote {
    background-color: #E5E7EB;
    width: 100vw;
    min-height: 20rem;
}

.signup {
    background-color: whitesmoke;
    width: 100vw;
    min-height: 20rem;
}

.footer {
    background-color: #1F2937;
    width: 100vw;
    min-height: 6rem;
}