body {
    flex-direction: column;
    display: flex;
    margin: 0;
}

.header {
    background-color: #1F2937;
    width: 100vw;
    min-height: 15rem;    
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin: 1rem 15rem 5rem 15rem;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

#list a {
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    padding: 8px;
}

#hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 15rem 5rem 15rem;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    padding-left: 17rem;
    height: 20rem;
    width: 40rem;
}

#sign-up {
    width: 4rem;
    height: 2rem;
    background-color: #3882F6;
}

/*.random {
    background-color: #1F2937;
    width: 100vw;
    min-height: 20rem;
}*/

.quote {
    background-color: #E5E7EB;
    width: 100vw;
    min-height: 20rem;
}

.signup {
    background-color: whitesmoke;
    width: 100vw;
    min-height: 20rem;
}

.footer {
    background-color: #1F2937;
    width: 100vw;
    min-height: 6rem;
}