.menu-container{
    background-color: #1F2937 ;
    color: #F9FAF8;
}

.logo{
    font-size: 24px;
    display: flex;
}

.links{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    
}