body {
    flex-direction: column;
    display: flex;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    width: 100vw;
    min-height: 15rem;    
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 1rem 15rem 5rem 15rem;
}

#logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    display: flex;
    flex-direction: row;
}


#list a{
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
    padding: 8px;
    
}

#list a:hover {
    color: #bad7ff;
}

#hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 15rem 5rem 15rem;
    gap: 10rem;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    display: flex;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

#sign-up {
    width: 4rem;
    height: 2rem;
    background-color: #3882F6;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 9.5rem;
    top: 25rem;
    width: 47%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    
    
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 80px;
    top: 0;
    color: #ec0b0b;
    font-size: 10px;
    font-weight: bold;
  }
  
  /* Close button on hover */
  .close:hover,
  .close:focus {
    color: rgb(7, 7, 7);
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
  }
  
  @keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }

.random {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: baseline;
}

.container-img img {
    display: flex;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 4px solid #3882F6;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    margin: 1rem 2rem 1rem 2rem;
}

span {
    display: flex;
    
    max-width: 10rem;
    margin-left: 2.5rem;
}
.image {
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: column;
    width: 100vw;
    min-height: 20rem;
}

h4 {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 25rem 2rem 25rem;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

#who {
    display: flex;
    font-style: italic;
    margin: 0 25rem 2rem 25rem;
    justify-content: flex-end;
}

.signup {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    width: 100vw;
    min-height: 20rem;
}

#sign-up-container {
    display: flex;
    background-color: #3882F6;
    width: 75vw;
    min-height: 7rem;
    color: #F9FAF8;
    margin: 6rem 15rem 5rem 15rem;
    flex-direction: row;
    border: 4px solid #3882F6;
    border-radius: 15px;
    gap: 30rem;
}

#sign-up-text {
    margin-left: 5rem;
    margin-top: 1rem;
}

#sign-up-button {
    margin-top: 3.5rem;
    margin-left: 3rem;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    width: 100vw;
    min-height: 6rem;
    align-items: center;
    justify-content: center;
}
